<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hot Potates!</title>
    <meta charset="utf-8"/>
    <style>
      canvas {
        margin: 10px;
        border: 1px solid black;
        background-color:black;
      }
      
      .hidden {
        display: none;
      }
      
      html, body {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding:0;
        background-color: #284B63;
        color: #0F1A1F;
        text-align: center;
      }

      canvas {
        margin-top: 3%;
        margin-bottom: 3%;
      }
      
      div {
        font-family: 'Lato', sans-serif;
        width: 66%;
        margin: auto;
        text-align: center;
        background-color: #E3C9A3;
      }
      
      input {
        font-family: 'Source Sans Pro', sans-serif;
        background-color: '#D4CAA1';
        color: '#D4CAA1';
      }
      
      p {
        margin-left: 12px;
        font-size: 1.2em;
        width: 50%; 
      }
      
      .everything {
        box-shadow: 10px 10px 10px;
        background-color: '#D4CAA1';
        min-height: 100%;
      }
      
      .endingMessage {
        font-size: 2em;
        background-color: '#363536';
      }
      
       .setup {
      }
      
      #playAgain {
        position: absolute;
        top: 50%;
        transition: fadein 2s;
      }
      
      #results {
        background-color: '#363536';
      }
      
      #mainMessage {
        font-size: 3em;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      
      #navbar {
        display: inline-block;
      }
      
      #welcome {
        line-height: 1.5em;
      }
      
      #signIn {
        width: 66%;
        margin: auto;
      }
      
      #instructions {
        font-size: 1.5em;
        width: 66%;
        margin: auto;
      }
      
      #joinButton {
        padding-top: 8%;
        width: 66%;
        margin: 20px;
        margin: auto;
      }
      
      #hostRoomButton {
        margin: 20px;
        padding-top: 1%;
        width: 66%;
        margin: auto;
      }
      
      #joinRoomButton {
        margin: 20px;
        padding-top: 1%;
        width: 66%;
        margin: auto;
        padding-bottom: 2%;
        margin-bottom: 1.5em;
      }
      
    </style>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script src="/assets/compiled.js"> </script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro" rel="stylesheet">
</head>
<body>
  
  <input type="hidden" name="_csrf" value={csrfToken} />
  
  <div class="everything">
  
<!--
    <div id="navbar">
      <div class="mmNav">Main Menu</div>
      <div class="hpNav">Hot Potates!</div>
    </div>
-->
  
<!--    <div id='instructions'>Instructions: If you have the potato, when a letter appears, press it before the line hits the right wall! Press Space to pass to the next player!</div>-->


    <div id="signIn">
      <div class="setup">
      </div>
    </div>

    <div id="joinButton">
      <input type="button" value="Find me a game!">    
    </div>
  <!--
    <div id="logoutButton">
      <input type="button" value="Logout">
    </div>
  -->

    <canvas id="canvas" height="400" width="800">Please use an HTML 5 browser to play Hot Potates!</canvas>
    <div id='mainMessage'></div>
    <div id='results'></div>

    <div id='returnToMainMenu'></div>
    <div id='playAgain'></div>

    </div>
</body>
</html>
