<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hot Potatoes!</title>
    <meta charset="utf-8"/>
    <style>
      canvas {
        margin: 10px;
        border: 1px solid black;
        background-color:black;
      }
      
      .hidden {
        display: none;
      }
      
      html, body {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding:0;
        background-color: #284B63;
        color: #0F1A1F;
        text-align: center;
      }

      div {
        text-align: center;
        background-color: #E3C9A3;
      }
      
      p {
        margin-left: 12px;
        font-size: 1.2em;
        width: 50%; 
      }
      
       .setup {
      }
      
      #mainMessage {
        font-size: 3em;
        padding: 30px;
      }
      
      #welcome {
        line-height: 1.5em;
      }
      
      #signIn {
        width: 66%;
        margin: auto;
      }
      
      #score {
        font-size: 1.5em;
        width: 66%;
        margin: auto;
      }
      
      #joinButton {
        width: 66%;
        margin: 20px;
        margin: auto;
      }
      
      #hostRoomButton {
        margin: 20px;
        padding-top: 1%;
        width: 66%;
        margin: auto;
      }
      
      #joinRoomButton {
        margin: 20px;
        padding-top: 1%;
        width: 66%;
        margin: auto;
        padding-bottom: 2%;
        margin-bottom: 1.5em;
      }
      
    </style>
    <script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script src="/assets/compiled.js"> </script>
</head>
<body>
  
  <input type="hidden" name="_csrf" value={csrfToken} />
  
  <div>Instructions: If you have the potato, when a letter appears, press it before the line hits the bottom! Press Space to pass to the next player!</div>
  
  
  
  <div id="instructionsButton">
    <input type="button" value="Instructions">
  </div>
<!--
  <div id="logoutButton">
    <input type="button" value="Logout">
  </div>
-->
  
  <div id="mainContent">
    
  </div>

  <canvas id="canvas" height="400" width="800">Please use an HTML 5 browser to play Hot Potatoes!</canvas>
  <div id='mainMessage'></div>

  <div id='returnToMainMenu'></div>
  
</body>
</html>
